mixin header(activeItem)
  .row
    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img.grobot(alt='grobot', src='/img/grobot.png')
            span.name Greg Allan
          button.navbar-toggle.collapsed(type='button',  data-toggle="collapse",  data-target="#navbar")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li(class=activeItem==='blog' ? 'active' : '')
              a(href='/') Blog
            li(class=activeItem==='projects' ? 'active' : '')
              a(href='/projects') Projects
            li(class=activeItem==='resume' ? 'active' : '')
              a(href='/resume') Resume
            li(class=activeItem==='about' ? 'active' : '')
              a(href='/about') About

mixin footer()
  .row.col-md.12.footer
    hr
    .center
      img.grobot-footer(src='/img/grobot-cookies.png')

mixin pagination()
  ul.pagination
    if getPageCount() !== 1
      - var i = 1;
      - while ( i <= getPageCount() )
        if page == i
          li(class='active')
            a(href=pageURL(i)) #{i}
        else
          li
            a(href=pageURL(i)) #{i}
        - i++;
