extends layout
include ./components

block content
  .container
    +header('blog')
    .row.blog
      .col-md-3
        each post in posts
          a(href=post.url)
            h3= post.title
            h6 #{post.date.getMonth()+1}-#{post.date.getDate()}-#{post.date.getFullYear()}
          hr

      .col-md-9
        each post in posts
          .post
            .content !{post.content}
            .date Posted #{post.date.getMonth()+1}-#{post.date.getDate()}-#{post.date.getFullYear()}
        +pagination()
    +footer()
